body{
    padding:20px;
}

#title{
    text-align: center;
	font-family: work-sans, sans-serif;
    font-size:60px;
    color:#fd8d3c;
}
#subtitle{
    text-align: center;
	font-family: work-sans, sans-serif;
    font-size:20px;
    color:#fecc5c;
}
li{
    padding-bottom:20px;
}
#content{
	text-align: center;
	padding: 120px;
	font-family: work-sans, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #c48627;
}

